page-home {
	/*ion-segment {
		display: block;
		white-space: nowrap;
		font-size: 0;
		overflow: auto;

		&::-webkit-scrollbar {
			width: 0;
			height: 0;
			display: none;
		}

		ion-segment-button.segment-button {
			display: inline-block;
			min-width: 100px;
			width: auto;
		}
	} */
    
    ion-slides {
        width: 100%;
        height: initial;
        overflow:auto;
    }
    
    ion-content ion-slide {
       // margin-top:18px;
    }
    .more_song_button {
        text-align: center;
        color:#71a42f;
        text-decoration: underline;
        width:100%;
        margin:0px auto;
        padding:15px 0 15px 0;
    }
    .our-logo-facebook{
        background-color: #3B5B8E !important;
    }
    .ion-logo-facebook,.ion-logo-twitter,.ion-logo-youtube,.ion-logo-googleplus {
        color:white !important;
    }
    .our-logo-twitter{
        background-color: #53A5E6 !important;
    }
    .our-logo-googleplus{
        background-color: #D45236 !important;
    }
    .our-logo-youtube {
        background-color: #E33E36 !important;
    }
    
    .our-logo-rss {
        background-color: #FE8D10 !important;
    }
    .our-logo-newletter {
        background-color: #FE8D10 !important;
    }
    .social_share {
        bottom:80px;
    }
    .item[no-lines].bottom-border .item-inner { 
        border-bottom: 1px solid grey; 
    }
    
}
/*
.toolbar-background-ios, .toolbar-background-md {
    background-color: red!important;
}
*/
 .filters {
        background-color: #71a42f;
        color : #fff;
        ion-col {
            text-align: center;
            font-size: 1.6rem;
            line-height: 1.6rem;

            ion-icon {
                color: #ccc;
            }

            &.col-with-arrow {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        p {
            color: #fff;
            margin: 0;
            font-size: 1.6rem;
            line-height: 5rem;
            font-weight: 100;
        }

        .selected {
            font-weight: 700;
        }
    }

.fab-menu-overlay {
 //@include transition(all 0.2s ease 0.2s);
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 98;

  &.active {
    display: block;
  }
}